= render "./layouts/header"
.container.article_index
  .article-deck.mb-5
    .article-list.pt-3
      - @articles.each do |article|
        .article.mx-3.mb-3
          .article-image
            =image_tag article.article_images[0].image.url,class:"article-img-top"
          .article-body
            %h2.article-title.p-2
              = article.title
            %p.article-text
              = article.body.truncate(100)
            %a.btn-sm.btn-primary{href: "/articles/#{article.id}"} 記事を読む

.container
  .card-deck.mb-5
    .card-list.row.pt-3
      - @articles.each do |article|
        .card.col-6.p-0
          .card-image
            =image_tag article.article_images[0].image.url,class:"card-img-top"
          .card-body
            %h2.card-title
              = article.title
            %p.card-text
              = article.body.truncate(100)
            %a.btn.btn-primary{href: "/articles/#{article.id}"} 記事を読む

.d-flex.align-items-center.mt-3
  %h1 投稿一覧
%table.table.table-bordered.border-primary.table-hover.table-sm.articles_table
  %thead
    %tr
      %th{scope: "col", style: "width: 40px"} No.
      %th{scope: "col", style: "width: 700px"} 投稿タイトル
      %th{scope: "col"} 投稿者
      %th{scope: "col"} 投稿日
      %th{scope: "col"} 更新日時
  %tbody
    　　　
    / 追加
    - @articles.each do |article|
      %tr
        %th= article.id
        %td
          = link_to "#{article.title}","/articles/#{article.id}"
        %td= article.user.nickname
        %td= article.created_at.strftime('%Y/%m/%d')
        %td= article.updated_at.strftime('%Y/%m/%d')
