= render "./layouts/header"
.container.article_index.d-flex.justify-start
  .article-deck.mb-5
    .article-list.pt-5
      - @articles.each do |article|
        .article.mr-3.mb-3
          .article-image
            =image_tag article.article_images[0].image.url,class:"article-img-top"
          .article-body
            %p.article-text.p-2
              = article.created_at.strftime("%Y年%-m月%-d日")
            %h2.article-title.p-2
              = article.title
            %p.article-text.p-2
              = article.body.truncate(100)
            %a.btn-sm.btn-primary.ml-3{href: "/articles/#{article.id}"} 記事を読む
      = paginate(@articles)
  .side_bar 
    .recent-article.card.pt-5
      %ul.list-group
        %li.list-group-item.active 
          人気記事
    .recent-comments.card.pt-5
      %ul.list-group
        %li.list-group-item.active
          最新のコメント
        - @comments.each do |comment|
          %li.list-group-item
            = "「#{comment.article.title}」に#{comment.user.nickname}より"
    .archives.card.pt-5
      %ul.list-group
        %li.list-group-item.active アーカイブ
        %li.list-group-item 2019年12月
        %li.list-group-item 2019年11月
        %li.list-group-item 2019年10月
        %li.list-group-item 2019年9月
        %li.list-group-item 2019年8月
        %li.list-group-item 2019年7月