= render "./layouts/header"
.container.d-flex
  .article-main
    .article-header
      %h1
        = @article.title 
    .article-body
      %h5.p-3
        = fa_icon 'edit'
        = @article.created_at.strftime("%Y/%-m/%-d#{" "}%H:%M")
      %p
        = @article.body
  .side_bar 
    .recent-article.card.pt-5
      %ul.list-group
        %li.list-group-item.active 最新の投稿
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
    .recent-comments.card.pt-5
      %ul.list-group
        %li.list-group-item.active 最新のコメント
        %li.list-group-item 
        %li.list-group-item
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
    .archives.card.pt-5
      %ul.list-group
        %li.list-group-item.active アーカイブ
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item 
        %li.list-group-item
        %li.list-group-item 
