= render "./layouts/header"
.d-flex.align-items-center.mt-3
  %h1 投稿一覧
%table.table.table-bordered.border-primary.table-hover.table-sm.articles_table
  %thead
    %tr
      %th{scope: "col", style: "width: 40px"} No.
      %th{scope: "col", style: "width: 700px"} レース名
      %th{scope: "col"} 最終投稿者
      %th{scope: "col"} 投稿日
      %th{scope: "col"} 更新日時
  %tbody
    　　　
    / 追加
    - @race_groups.each do |race_group|
      %tr
        %td= race_group.id
        %td
          = link_to "#{race_group.name}",href: "http://#"
        %td= race_group.year
        %td= race_group.created_at.strftime('%Y/%m/%d')
        %td= race_group.updated_at.strftime('%Y/%m/%d')


