= render "./layouts/header"

.container
  .race-group-top.bg-primary.text-white.mt-3.text-center
    %h1 レース予想掲示板
  .race-group-main.mt-3
    .race-group-main__header
      %h1.pl-3 
        = "#{@race_group.name}(#{@race_group.year})掲示板/投稿数(#{@posts_length.count}件)"
    .border.mt-3
      .race-group-container
        .text-center
          %h3 投稿する
          = form_with(model: @post, url:race_group_posts_path ,local: true) do |f|
            %p 予想
            = f.text_field :prediction
            .article-body
            %p 本文
            = f.text_area :body
            = f.submit
        .post-index.mt-5
          - @posts.each do |post|
            .post-index__user-data
              = post.user.nickname
            .post-index__prediction
              = post.prediction
            .post-index__body
              = post.body
            .post-index__footer.border-bottom
              いいね 返信 通報