= render "./layouts/header"
.container
  .race-group-main.mt-3
    .race-group-main__header
      %h1#post_count.text-center
        = "#{@race_group.name}(#{@race_group.year})掲示板/投稿数(#{@posts_length.count}件)"
    .border
      .race-group-container
        .post-button.text-center
          .post_open.button.mt-3
            %p.open-button.p-0 投稿する
          .post_form.d-none
            %h3.m-2
            = form_for @post, url:race_group_posts_path,id: "new_post" do |f|
              %p 予想
              = f.text_field :prediction,class:"m-2"
              .article-body
              %p 本文
              = f.text_area :body,class:"body-input mt-2 mb-3",placeholder:"コメントする"
              = f.submit "投稿する", class: 'post_button'
        .post-index.mt-5
          - @posts.each_with_index.reverse_each do |post, i|
            .post-index__user-data.d-flex.pt-4
              %p
                = "[#{i +1}]"
              %p.px-3 
                = "#{post.user.nickname}さん"
              %p.px-3  
                = "予想:#{post.prediction}"
              %p.px-3  
                = post.created_at.strftime("%Y/%-m/%-d#{" "}%X")
            .post-index__body
              = post.body
            .post-index__footer.d-flex
              %p いいね 
              %p.px-3 通報
        = paginate(@posts)