= render "./layouts/header"
.container
  .mypage.row
    .card.col-8.mr-3.mt-5.p-0
      .card-header.d-flex.justify-content-between
        %h 11月25日(月) ようこそ、まこまこさん
        .mypage-button
          = link_to "マイページ編集","/mypage/#{@user.id}/edit"
      .card-body
        %h5.card-title
          = "総収支 #{@total_investment}円"
        %h5.card-title
          = "総回収 #{@total_result}円"
        %h5.card-title
          = "トータル収支 #{@total_result - @total_investment}円"
        - unless @total_investment == 0
          %h5.card-title
            = "回収率 #{(@total_result.to_f / @total_investment.to_f * 100).round(1)}%"
        - if current_user.try(:admin?)
          .page-header
            %p.admin_btn.col-xs-offset-1.col-xs-10.col-xs-offset-1= link_to "管理画面", "/admin"
    .card.col-3.mt-5.p-0{style: "max-width: 18rem;"}
      .card-header お気に入り馬
      .card-body.text-dark
        %h5.card-title 登録されていません
        %p.card-text
    .card.col-8.mr-3.mt-5.p-0
      .card-header.d-flex.justify-content-between
        %p 最近の購入
        %p 一覧
      .card-body
        - @bettings.each do |betting|
          .betting-card.border.mt-3
            %h5.card-title
              - if betting.category.name == ("ながし" || "1着ながし" )
                = "#{betting.when.strftime("%Y年%m月%d日")} / #{betting.race_number.number} / #{betting.category.parent.name} / #{betting.category.name} / #{betting.horse_number.first} / #{betting.horse_number} "
              - elsif betting.category.name == "ボックス"
                = "#{betting.when.strftime("%Y年%m月%d日")} / #{betting.race_number.number} / #{betting.category.parent.name} / #{betting.category.name} / #{betting.horse_number}"
              - elsif betting.category.name == "2着ながし"
                = "#{betting.when.strftime("%Y年%m月%d日")} / #{betting.race_number.number} / #{betting.category.parent.name} / #{betting.category.name} /#{betting.horse_number} / #{betting.horse_number.first}"
              - else 
                = "#{betting.when.strftime("%Y年%m月%d日")} / #{betting.race_number.number} / #{betting.category.parent.name} /#{betting.horse_number.first} "
            - if betting.result
              .card-text
                = "投資#{betting.investment}円 / 回収#{betting.result}円"
                .edit-result 編集する
              .card-text.d-none
                %input{type: 'number'}
                .post-result{"data-id": "#{betting.id}"}
                  登録する
            - else
              .card-text
                = "投資#{betting.investment}円"
              .card-text
                %input{type: 'number'}
                .post-result{"data-id": "#{betting.id}"}
                  登録する
    .card.col-3.mt-5.p-0{style: "max-width: 18rem;"}
      .card-header 収支分析
      .card-body.text-dark
        %h5.card-title
          = "年別収支 #{@total_year_result - @total_year_investment}円"
        %h5.card-title
          = "月別収支 #{@total_month_result - @total_month_investment}円"
        %h5.card-title 競馬場別収支
        %h5.card-title 馬券種別収支